.senator_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.s_card1 {
    flex: 0 0 calc(33.33% - 50px);
    margin-bottom: 50px;

}

.senator_card {
    width: 250px;
    height: 220px;
    margin: auto;
}

.s_img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.s_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s_details>p {
    color: #06508D;
    font-weight: bold;
}

.pagination{
    margin: auto;
    margin-top: 50px;
}

.page-link{
    background-color: #73737380 !important;
    border: #000 !important;
    color: #fff !important;
}

.footer {
    margin-top: 50px;
    background-color: #000000;
    color: #fff;
    height: auto;
    padding-top: 20px;
    text-align: center;
}

.footer-text {
    font-size: 18px;
}

@media (max-width: 992px) {
    .senator_box {
        justify-content: space-between;
    }

    .senator_card {
        width: 220px;
        height: 220px;
        margin: auto;
    }

    .names>span {
        font-size: 16px;
    }

    .senator_card>p {
        font-size: 12px;
    }

    .s_card1 {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .senator_box {
        justify-content: space-between;
    }

    .senator_card {
        width: 220px;
        height: 220px;
        margin: auto;
    }
}

@media (max-width: 575px) {
    .senator_box {
        justify-content: space-between;
    }

    .senator_card {
        width: 180px;
        height: 180px;
        margin: auto;
    }
}

@media (max-width: 385px) {
    .senator_box {
        justify-content: space-between;
    }

    .senator_card {
        width: 150px;
        height: 150px;
        margin: auto;
    }
}